<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .green {
      color: green;
    }

    .red {
      color: red;
    }
  </style>
</head>

<body>
  <p>Your Gold: <span>{{request.session.total}}</span></p>
  <form action="/process_money" method='POST'>
    {% csrf_token %}
    <div>
      <input hidden name="place" value="farm">
      <h3>Farm</h3>
      <p>(earns 10-20 golds)</p>
      <button type="submit">Find Gold!</button>
    </div>
  </form>
  <form action="/process_money" method='POST'>
    {% csrf_token %}
    <div>
      <input hidden name="place" value="cave">
      <h3>Cave</h3>
      <p>(earns 5-10 golds)</p>
      <button type="submit">Find Gold!</button>
    </div>
  </form>
  <form action="/process_money" method='POST'>
    {% csrf_token %}
    <div>
      <input hidden name="place" value="house">
      <h3>House</h3>
      <p>(earns 2-5 golds)</p>
      <button type="submit">Find Gold!</button>
    </div>
  </form>
  <form action="/process_money" method='POST'>
    {% csrf_token %}
    <div>
      <input hidden name="place" value="casino">
      <h3>Casino</h3>
      <p>(earns/takes 0-50 golds)</p>
      <button type="submit">Find Gold!</button>
    </div>
  </form>
  <form action="/reset">
    <button>Restart</button>
  </form>

  <div class="log">
    {% for item in request.session.log %}
    {% if item.value < 0 %}
    <div class="red">
      <span>Entered a casino and lost {{item.value}} golds... ouch ({{item.time}})</span>
    </div>
    {% else %}
    <div class="green">
      <span>Earned {{item.value}} golds from the {{item.place}} ({{item.time}})</span>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</body>

</html>